<!DOCTYPE HTML>
<html>
	<head>
        
        @HEADER@
	</head>
	<body>


  <div class='container'>
    <link rel="stylesheet" type="text/css" href="static/css/cpk.css" />

    
    <div id='Header'  class='WDheader clearfix ' >
      <div id='cpkLogo'  class='cpkLogo span-18 ' >
      </div>
      <div id='cpkText'  class='cpkSmall span-4 ' >
        .CPK Plugin Name
      </div>
      <div id='cpkVersion'  class='cpkVersion span-3 last ' >
        v TRUNK-SNAPSHOT 
      </div>
    </div>
    <div id='siteMap'  class='clearfix ' >
    </div>

		@CONTENT@
		
		@FOOTER@

  </div>
	
	</body>
</html>


